:root {
  --color-full-black: #000;
  --color-black: #292929;
  --color-white: #eaeaea;
  --color-light-gray: #cacaca;
  --color-gray: #7b7b7b;
  --color-blue: #79b1da;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1;
  font-family: "Helvetica", Arial, sans-serif;
  background-color: var(--color-black);
}
